Q.1.Try fillna with "genre" and "rating".

Q.2.Try replacing categorical data with manully created dictionary key-values.

Q.3.Take individual rating and plot its sum using bar plot.

Q.4.Divide data according to year (in two fragments) and see revenue in scatter plot.Take mean rating on x-axis.

In [1]:
# importing all required libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

#### Q.1.Try fillna with "genre" and "rating"

In [2]:
# creating pandas dataframe
original_dataframe=pd.read_csv("IMDB-Movie-Data.csv")

In [3]:
# converting all column names into lower case
original_dataframe.columns=[col.lower() for col in original_dataframe]

In [4]:
# getting columns name in our dataframe
original_dataframe.columns

Index(['rank', 'title', 'genre', 'description', 'director', 'actors', 'year',
       'runtime (minutes)', 'rating', 'votes', 'revenue (millions)',
       'metascore'],
      dtype='object')

In [5]:
original_dataframe.head()

,rank,title,genre,description,director,actors,year,runtime (minutes),rating,votes,revenue (millions),metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [6]:
original_dataframe[["genre","rating"]]

                        genre  rating
0     Action,Adventure,Sci-Fi     8.1
1    Adventure,Mystery,Sci-Fi     7.0
2             Horror,Thriller     7.3
3     Animation,Comedy,Family     7.2
4    Action,Adventure,Fantasy     6.2
..                        ...     ...
995       Crime,Drama,Mystery     6.2
996                    Horror     5.5
997       Drama,Music,Romance     6.2
998          Adventure,Comedy     5.6
999     Comedy,Family,Fantasy     5.3

[1000 rows x 2 columns]

In [7]:
original_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   rank                1000 non-null   int64
 1   title               1000 non-null   object
 2   genre               1000 non-null   object
 3   description         1000 non-null   object
 4   director            1000 non-null   object
 5   actors              1000 non-null   object
 6   year                1000 non-null   int64
 7   runtime (minutes)   1000 non-null   int64
 8   rating              1000 non-null   float64
 9   votes               1000 non-null   int64
 10  revenue (millions)  872 non-null    float64
 11  metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB

If we observe above output, we can see that there are null values in revenue (millions) and metascore,our task is to replace these null values on the basis of genre,rating and director.First we will go for using genre.

In [8]:
# the genre column contains following data points
original_dataframe["genre"]

0       Action,Adventure,Sci-Fi
1      Adventure,Mystery,Sci-Fi
2               Horror,Thriller
3       Animation,Comedy,Family
4      Action,Adventure,Fantasy
                 ...
995         Crime,Drama,Mystery
996                      Horror
997         Drama,Music,Romance
998            Adventure,Comedy
999       Comedy,Family,Fantasy
Name: genre, Length: 1000, dtype: object

In [9]:
# we get length of genre column
# it is one series
original_dataframe["genre"].count()

1000

In [10]:
# getting unique values count of genre column
# there are total 207 genre
original_dataframe["genre"].value_counts()

Action,Adventure,Sci-Fi      50
Drama                        48
Comedy,Drama,Romance         35
Comedy                       32
Drama,Romance                31
                             ..
Crime,Thriller                1
Adventure,Biography,Crime     1
Mystery,Thriller,Western      1
Horror,Mystery,Sci-Fi         1
Comedy,Horror,Romance         1
Name: genre, Length: 207, dtype: int64

In [11]:
genre_list=[]
for genre_name in original_dataframe["genre"]:
    if genre_name not in genre_list:
        genre_list.append(genre_name)
print(len(genre_list))

207

In [12]:
print(genre_list[0:3])

['Action,Adventure,Sci-Fi', 'Adventure,Mystery,Sci-Fi', 'Horror,Thriller']

In [13]:
genre_group=original_dataframe.groupby("genre",as_index=False)["revenue (millions)"].mean()
print(genre_group)
print(type(genre_group))
# we got 207 rows ,as we have 207 genre
# without as_index=False, it returns a Series instead

                          genre  revenue (millions)
0                        Action          131.560000
1              Action,Adventure          223.740000
2    Action,Adventure,Biography           16.500000
3       Action,Adventure,Comedy           95.733571
4        Action,Adventure,Crime           90.620000
..                          ...                 ...
202     Romance,Sci-Fi,Thriller           62.450000
203                      Sci-Fi           20.760000
204             Sci-Fi,Thriller           64.510000
205                    Thriller            0.320000
206                Thriller,War                 NaN

[207 rows x 2 columns]
<class 'pandas.core.frame.DataFrame'>

In [14]:
#genre_group["metascore"].isnull().value_counts()

In [15]:
genre_group.columns

Index(['genre', 'revenue (millions)'], dtype='object')

In [16]:
genre_group.head()
# for column_name in genre_group:
#     for val in column_name:
#         print(val)
genre_group["genre"]

0                          Action
1                Action,Adventure
2      Action,Adventure,Biography
3         Action,Adventure,Comedy
4          Action,Adventure,Crime
                  ...
202       Romance,Sci-Fi,Thriller
203                        Sci-Fi
204               Sci-Fi,Thriller
205                      Thriller
206                  Thriller,War
Name: genre, Length: 207, dtype: object

In [17]:
genre_group["revenue (millions)"]

0      131.560000
1      223.740000
2       16.500000
3       95.733571
4       90.620000
          ...
202     62.450000
203     20.760000
204     64.510000
205      0.320000
206           NaN
Name: revenue (millions), Length: 207, dtype: float64

In [18]:
# mean_dict={}
# mean_dict=dict.fromkeys(genre_group["genre"])
# print(mean_dict)

In [19]:
# transformed = grouped.transform(lambda x: x.fillna(x.mean()))
# transformed = genre_group.transform(lambda revenue(millions): revenue(millions).fillna(revenue(millions).mean()))

In [20]:
#genre_group.set_index("genre",inplace=True)

In [21]:
genre_group

                          genre  revenue (millions)
0                        Action          131.560000
1              Action,Adventure          223.740000
2    Action,Adventure,Biography           16.500000
3       Action,Adventure,Comedy           95.733571
4        Action,Adventure,Crime           90.620000
..                          ...                 ...
202     Romance,Sci-Fi,Thriller           62.450000
203                      Sci-Fi           20.760000
204             Sci-Fi,Thriller           64.510000
205                    Thriller            0.320000
206                Thriller,War                 NaN

[207 rows x 2 columns]

In [22]:
#genre_group.loc["Action"]

In [23]:
for i in genre_group.index:
    print(genre_group["genre"][i],genre_group["revenue (millions)"][i])

Action 131.56
Action,Adventure 223.73999999999998
Action,Adventure,Biography 16.5
Action,Adventure,Comedy 95.73357142857141
Action,Adventure,Crime 90.62
Action,Adventure,Drama 77.32166666666666
Action,Adventure,Family 112.86666666666666
Action,Adventure,Fantasy 201.85730769230776
Action,Adventure,Horror 131.24
Action,Adventure,Mystery 150.344
Action,Adventure,Romance 23.47
Action,Adventure,Sci-Fi 209.23020000000005
Action,Adventure,Thriller 158.12363636363636
Action,Adventure,Western 91.33500000000001
Action,Biography,Crime 0.1
Action,Biography,Drama 100.65285714285713
Action,Comedy 58.79
Action,Comedy,Crime 92.41083333333334
Action,Comedy,Drama 2.87
Action,Comedy,Family 78.75
Action,Comedy,Fantasy 55.873333333333335
Action,Comedy,Horror 3.64
Action,Comedy,Mystery 23.62
Action,Comedy,Romance 27.395
Action,Comedy,Sci-Fi 26.0
Action,Comedy,Sport 148.21
Action,Crime,Drama 84.13125000000001
Action,Crime,Fantasy 134.57
Action,Crime,Mystery 67.37
Action,Crime,Sci-Fi 58.61
Action,Crime,Sport 28.77
Action,Crime,Thriller 109.16272727272727
Action,Drama,Family 131.025
Action,Drama,Fantasy 81.93666666666667
Action,Drama,History 34.473333333333336
Action,Drama,Horror 2.13
Action,Drama,Mystery 107.5
Action,Drama,Romance 39.725
Action,Drama,Sci-Fi 61.71666666666667
Action,Drama,Sport 19.25
Action,Drama,Thriller 42.73499999999999
Action,Drama,War 85.71
Action,Fantasy 36.38
Action,Fantasy,Horror 44.55333333333334
Action,Fantasy,Thriller 115.8
Action,Fantasy,War 210.59
Action,Horror nan
Action,Horror,Mystery 10.33
Action,Horror,Romance 10.91
Action,Horror,Sci-Fi 54.004
Action,Horror,Thriller 17.595
Action,Mystery,Sci-Fi 57.345
Action,Mystery,Thriller 129.78
Action,Sci-Fi 232.77999999999997
Action,Sci-Fi,Thriller 73.25
Action,Thriller 137.13625
Action,Thriller,War 42.72
Adventure 0.15
Adventure,Biography nan
Adventure,Biography,Crime 10.14
Adventure,Biography,Drama 20.01
Adventure,Comedy 58.88
Adventure,Comedy,Drama 37.973749999999995
Adventure,Comedy,Family 96.875
Adventure,Comedy,Fantasy 21.56
Adventure,Comedy,Horror 75.59
Adventure,Comedy,Romance 63.635000000000005
Adventure,Comedy,Sci-Fi 18.904999999999998
Adventure,Crime,Mystery 38.56
Adventure,Drama 0.06
Adventure,Drama,Family 151.8225
Adventure,Drama,Fantasy 276.008
Adventure,Drama,History 7.08
Adventure,Drama,Horror 66.01
Adventure,Drama,Romance 74.78
Adventure,Drama,Sci-Fi 208.21
Adventure,Drama,Thriller 82.74333333333333
Adventure,Drama,War 120.52
Adventure,Drama,Western 171.03
Adventure,Family 42.65
Adventure,Family,Fantasy 157.24785714285716
Adventure,Fantasy 272.1566666666667
Adventure,Fantasy,Mystery 7.69
Adventure,Horror 7.19
Adventure,Horror,Mystery 46.98
Adventure,Mystery,Sci-Fi 138.645
Adventure,Sci-Fi,Thriller 180.55999999999997
Animation,Action,Adventure 195.47333333333333
Animation,Action,Comedy 148.34
Animation,Adventure,Comedy 221.33653846153845
Animation,Adventure,Family 135.915
Animation,Comedy,Drama 0.29
Animation,Comedy,Family 194.43
Animation,Drama,Fantasy 4.68
Animation,Drama,Romance nan
Animation,Family,Fantasy 75.28
Animation,Fantasy 0.92
Biography,Comedy,Crime 116.87
Biography,Comedy,Drama 34.98666666666667
Biography,Crime,Drama 48.042500000000004
Biography,Drama 53.39785714285714
Biography,Drama,Family 61.69
Biography,Drama,History 71.37307692307692
Biography,Drama,Mystery 35.71
Biography,Drama,Romance 15.05
Biography,Drama,Sport 73.80749999999999
Biography,Drama,Thriller 73.23333333333333
Biography,History,Thriller 2.96
Comedy 74.68499999999999
Comedy,Crime 85.53
Comedy,Crime,Drama 25.72714285714286
Comedy,Crime,Thriller 36.92
Comedy,Drama 33.035000000000004
Comedy,Drama,Family 89.62666666666667
Comedy,Drama,Fantasy 15.29
Comedy,Drama,Horror 2.0100000000000002
Comedy,Drama,Music 52.192499999999995
Comedy,Drama,Musical 38.51
Comedy,Drama,Romance 40.32181818181818
Comedy,Drama,Thriller 3.08
Comedy,Family 76.592
Comedy,Family,Fantasy 19.64
Comedy,Family,Musical 143.7
Comedy,Family,Romance 59.57
Comedy,Fantasy 160.05
Comedy,Fantasy,Horror 41.519999999999996
Comedy,Fantasy,Romance 56.82
Comedy,Horror 8.209999999999999
Comedy,Horror,Romance 66.36
Comedy,Horror,Sci-Fi 7.77
Comedy,Horror,Thriller 45.035
Comedy,Music 96.41499999999999
Comedy,Music,Romance 65.0
Comedy,Mystery 30.0
Comedy,Romance 53.004782608695656
Comedy,Romance,Sport 2.34
Comedy,Romance,Western 42.62
Comedy,Sci-Fi nan
Comedy,Western nan
Crime,Drama 35.84375
Crime,Drama,Fantasy 2.21
Crime,Drama,History 39.019999999999996
Crime,Drama,Horror 1.29
Crime,Drama,Music 65.27
Crime,Drama,Mystery 38.92333333333334
Crime,Drama,Thriller 41.93388888888889
Crime,Horror,Thriller 30.84
Crime,Mystery,Thriller 117.7
Crime,Thriller 117.14
Drama 27.546451612903223
Drama,Family nan
Drama,Family,Fantasy 201.15
Drama,Family,Music 1.2
Drama,Fantasy 8.515
Drama,Fantasy,Horror 8.037999999999998
Drama,Fantasy,Music 50.46
Drama,Fantasy,Musical 24.34
Drama,Fantasy,Mystery 42.27
Drama,Fantasy,Romance 95.21749999999999
Drama,Fantasy,Thriller 43.98
Drama,Fantasy,War 37.62
Drama,History 40.22
Drama,History,Thriller 53.897499999999994
Drama,History,War 0.86
Drama,Horror 9.275
Drama,Horror,Musical 52.88
Drama,Horror,Mystery 38.52333333333333
Drama,Horror,Sci-Fi 58.68599999999999
Drama,Horror,Thriller 16.11
Drama,Music 20.30666666666667
Drama,Music,Romance 30.799999999999997
Drama,Musical,Romance 148.78
Drama,Mystery,Romance 27.98833333333333
Drama,Mystery,Sci-Fi 37.547999999999995
Drama,Mystery,Thriller 19.584999999999997
Drama,Mystery,War 6.86
Drama,Romance 30.683666666666657
Drama,Romance,Sci-Fi 17.7525
Drama,Romance,Thriller 118.75
Drama,Romance,War nan
Drama,Sci-Fi 18.62
Drama,Sci-Fi,Thriller 103.12666666666667
Drama,Sport 77.46666666666665
Drama,Thriller 27.6375
Drama,Thriller,War 18.7
Drama,War 5.375
Drama,Western 162.8
Fantasy,Horror 63.11
Fantasy,Horror,Thriller nan
Fantasy,Mystery,Thriller nan
Horror 37.05285714285714
Horror,Mystery 25.635
Horror,Mystery,Sci-Fi 0.15
Horror,Mystery,Thriller 72.57
Horror,Sci-Fi,Thriller 34.165
Horror,Thriller 34.04083333333333
Mystery,Romance,Sci-Fi 54.7
Mystery,Romance,Thriller 5.98
Mystery,Sci-Fi,Thriller 68.76333333333334
Mystery,Thriller 73.53333333333333
Mystery,Thriller,Western nan
Romance,Sci-Fi nan
Romance,Sci-Fi,Thriller 62.45
Sci-Fi 20.76
Sci-Fi,Thriller 64.51
Thriller 0.32
Thriller,War nan

In [24]:
mean_revenue_value=genre_group["revenue (millions)"].mean()

In [25]:
mean_revenue_value

66.02433967963796

In [26]:
genre_group["revenue (millions)"].fillna(mean_revenue_value,inplace=True)

In [27]:
#sns.heatmap(genre_group)

In [28]:
genre_group.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 207 entries, 0 to 206
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   genre               207 non-null    object
 1   revenue (millions)  207 non-null    float64
dtypes: float64(1), object(1)
memory usage: 14.9+ KB

In [29]:
# i have dict with genre and revenue value without any null value
data_dict={}
for i in genre_group.index:
    data_dict[genre_group["genre"][i]]=genre_group["revenue (millions)"][i]
#print(data_dict)

Next task is ,I want ot traverse on original dataframe and replace null values in revenue (millions) attribute with corresponding mean value of genre.

In [30]:
# it traverse on every row
count=0
for i in original_dataframe.index:
    #print("Here",end=" ")
    #print(i)
    if pd.isnull(original_dataframe["revenue (millions)"][i]):
        #print(original_dataframe["revenue (millions)"][i])
        #count+=1
        original_dataframe["revenue (millions)"][i]=data_dict[original_dataframe["genre"][i]] 
        print(original_dataframe["genre"][i],data_dict[original_dataframe["genre"][i]])
       # pass
       #original_dataframe["revenue (millions)"][i]=genre_group["revenue (millions)"]
#print(count)

c:\users\tejaswita\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

Comedy 74.68499999999999
Crime,Drama,Horror 1.29
Comedy 74.68499999999999
Comedy,Drama 33.035000000000004
Horror 37.05285714285714
Adventure,Drama,Fantasy 276.008
Drama 27.546451612903223
Horror,Mystery,Thriller 72.57
Drama,History 40.22
Crime,Mystery,Thriller 117.7
Drama 27.546451612903223
Romance,Sci-Fi 66.02433967963796
Action 131.56
Mystery,Thriller,Western 66.02433967963796
Drama,Horror,Mystery 38.52333333333333
Thriller,War 66.02433967963796
Adventure,Horror 7.19
Sci-Fi 20.76
Drama,Romance 30.683666666666657
Drama 27.546451612903223
Crime,Drama,Thriller 41.93388888888889
Drama,Horror,Thriller 16.11
Action,Drama,Mystery 107.5
Drama,Horror 9.275
Horror,Sci-Fi,Thriller 34.165
Horror 37.05285714285714
Animation,Adventure,Comedy 221.33653846153845
Thriller 0.32
Thriller 0.32
Drama 27.546451612903223
Crime,Drama,Thriller 41.93388888888889
Action,Horror 66.02433967963796
Drama,Fantasy,Horror 8.037999999999998
Drama,Sport 77.46666666666665
Drama 27.546451612903223
Comedy,Drama 33.035000000000004
Drama,Sport 77.46666666666665
Horror,Thriller 34.04083333333333
Comedy,Romance 53.004782608695656
Comedy,Sci-Fi 66.02433967963796
Horror 37.05285714285714
Crime,Drama,Thriller 41.93388888888889
Drama 27.546451612903223
Horror,Mystery,Thriller 72.57
Action,Crime,Drama 84.13125000000001
Comedy 74.68499999999999
Thriller 0.32
Drama,Mystery,Sci-Fi 37.547999999999995
Horror,Thriller 34.04083333333333
Drama 27.546451612903223
Drama,War 5.375
Comedy,Drama 33.035000000000004
Crime,Drama,Thriller 41.93388888888889
Drama,Fantasy,Romance 95.21749999999999
Crime,Drama,Thriller 41.93388888888889
Comedy,Drama,Music 52.192499999999995
Biography,Comedy,Drama 34.98666666666667
Action,Drama,Sci-Fi 61.71666666666667
Action,Sci-Fi,Thriller 73.25
Crime,Drama,Thriller 41.93388888888889
Crime,Drama 35.84375
Action,Mystery,Sci-Fi 57.345
Drama,Thriller 27.6375
Drama 27.546451612903223
Drama,Sci-Fi,Thriller 103.12666666666667
Drama,Romance,Thriller 118.75
Action,Adventure,Family 112.86666666666666
Comedy,Drama,Romance 40.32181818181818
Drama 27.546451612903223
Drama 27.546451612903223
Action,Biography,Drama 100.65285714285713
Comedy,Drama,Romance 40.32181818181818
Crime,Drama,Mystery 38.92333333333334
Drama,Horror,Thriller 16.11
Comedy,Western 66.02433967963796
Drama,Horror,Sci-Fi 58.68599999999999
Fantasy,Horror,Thriller 66.02433967963796
Crime,Drama,Mystery 38.92333333333334
Drama 27.546451612903223
Biography,Crime,Drama 48.042500000000004
Action,Comedy 58.79
Drama,Family 66.02433967963796
Comedy,Romance 53.004782608695656
Crime,Horror,Thriller 30.84
Comedy,Drama,Fantasy 15.29
Thriller 0.32
Biography,Drama,History 71.37307692307692
Drama,Thriller 27.6375
Drama 27.546451612903223
Action,Crime,Thriller 109.16272727272727
Action,Thriller 137.13625
Comedy 74.68499999999999
Comedy,Romance 53.004782608695656
Drama 27.546451612903223
Comedy,Fantasy,Horror 41.519999999999996
Action,Drama,History 34.473333333333336
Crime,Drama,Mystery 38.92333333333334
Horror,Thriller 34.04083333333333
Drama,Romance,War 66.02433967963796
Drama,Thriller 27.6375
Horror,Thriller 34.04083333333333
Action,Adventure,Fantasy 201.85730769230776
Crime,Drama,Mystery 38.92333333333334
Biography,Drama,Romance 15.05
Thriller 0.32
Animation,Drama,Romance 66.02433967963796
Mystery,Thriller 73.53333333333333
Crime,Drama 35.84375
Action,Comedy,Horror 3.64
Drama 27.546451612903223
Thriller 0.32
Crime,Drama,Horror 1.29
Comedy 74.68499999999999
Drama 27.546451612903223
Thriller 0.32
Action,Drama,Thriller 42.73499999999999
Thriller 0.32
Fantasy,Mystery,Thriller 66.02433967963796
Drama 27.546451612903223
Drama,Mystery,Thriller 19.584999999999997
Adventure,Biography 66.02433967963796
Action,Horror,Thriller 17.595
Drama,Mystery,Thriller 19.584999999999997
Comedy 74.68499999999999
Drama 27.546451612903223
Horror 37.05285714285714
Crime,Drama,Mystery 38.92333333333334
Adventure,Comedy 58.88

In [31]:
original_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   rank                1000 non-null   int64
 1   title               1000 non-null   object
 2   genre               1000 non-null   object
 3   description         1000 non-null   object
 4   director            1000 non-null   object
 5   actors              1000 non-null   object
 6   year                1000 non-null   int64
 7   runtime (minutes)   1000 non-null   int64
 8   rating              1000 non-null   float64
 9   votes               1000 non-null   int64
 10  revenue (millions)  1000 non-null   float64
 11  metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB

In [32]:
genre_group.describe()

       revenue (millions)
count           207.00000
mean             66.02434
std              57.25132
min               0.06000
25%              24.98750
50%              54.00400
75%              85.62000
max             276.00800

In [33]:
genre_group.shape

(207, 2)

In [34]:
# for index, name, group in genre_group:
#     print(index)
#     print(name)
#     print(group)

In [35]:
print(type(genre_group))
#original_dataframe["revenue (millions)"].fillna(mean_value,inplace=True)

<class 'pandas.core.frame.DataFrame'>

In [36]:
genre_revenue_data=original_dataframe[["genre","revenue (millions)"]]
genre_revenue_data

                        genre  revenue (millions)
0     Action,Adventure,Sci-Fi          333.130000
1    Adventure,Mystery,Sci-Fi          126.460000
2             Horror,Thriller          138.120000
3     Animation,Comedy,Family          270.320000
4    Action,Adventure,Fantasy          325.020000
..                        ...                 ...
995       Crime,Drama,Mystery           38.923333
996                    Horror           17.540000
997       Drama,Music,Romance           58.010000
998          Adventure,Comedy           58.880000
999     Comedy,Family,Fantasy           19.640000

[1000 rows x 2 columns]

In [45]:
# genre_group=original_dataframe.groupby("genre",as_index=False)["metascore"].mean()
# print(genre_group)
genre_group=original_dataframe.groupby("genre",as_index=False)
print(genre_group)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000000000D518B08>

In [38]:
genre_group_metascore=original_dataframe.groupby("genre",as_index=False)["metascore"].mean()
print(genre_group_metascore)
print(type(genre_group_metascore))
# we got 207 rows ,as we have 207 genre
# without as_index=False, it returns a Series instead

                          genre  metascore
0                        Action  37.000000
1              Action,Adventure  57.333333
2    Action,Adventure,Biography  62.500000
3       Action,Adventure,Comedy  47.214286
4        Action,Adventure,Crime  48.333333
..                          ...        ...
202     Romance,Sci-Fi,Thriller        NaN
203                      Sci-Fi  53.000000
204             Sci-Fi,Thriller  34.000000
205                    Thriller  59.714286
206                Thriller,War  40.000000

[207 rows x 2 columns]
<class 'pandas.core.frame.DataFrame'>

In [39]:
genre_group_metascore.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 207 entries, 0 to 206
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   genre      207 non-null    object
 1   metascore  200 non-null    float64
dtypes: float64(1), object(1)
memory usage: 4.9+ KB

above output shows that we got 200 means of metascore,we have 7 null values for metascore, we will replace those nan values with mean of means of corresponding metascore

In [40]:
mean_value=genre_group_metascore["metascore"].mean()

In [41]:
mean_value

58.624719921182134

In [42]:
genre_group_metascore["metascore"].fillna(mean_value,inplace=True)

In [43]:
# now we can see there is no nan value in metascore column
genre_group_metascore.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 207 entries, 0 to 206
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   genre      207 non-null    object
 1   metascore  207 non-null    float64
dtypes: float64(1), object(1)
memory usage: 4.9+ KB

In [44]:
# i have dict with genre and metascore value without any null value
metascore_data_dict={}
for i in genre_group_metascore.index:
    metascore_data_dict[genre_group["genre"][i]]=genre_group_metascore["metascore"][i]
#print(metascore_data_dict)

IndexError: Column(s) genre already selected

Next task is ,I want ot traverse on original dataframe and replace null values in metascore attribute with corresponding mean value of genre.

In [ ]:
# it traverse on every row
count=0
for i in original_dataframe.index:
    #print("Here",end=" ")
    #print(i)
    if pd.isnull(original_dataframe["metascore"][i]):
        #print(original_dataframe["revenue (millions)"][i])
        #count+=1
        original_dataframe["metascore"][i]=metascore_data_dict[original_dataframe["genre"][i]] 
       # print(original_dataframe["genre"][i],metascore_data_dict[original_dataframe["genre"][i]])
       # pass
       #original_dataframe["revenue (millions)"][i]=genre_group["revenue (millions)"]
#print(count)

In [ ]:
original_dataframe.info()