#### Series

In [1]:
import pandas as pd
import numpy as np
import sys

In [2]:
# creating series using pandas function
series_one=pd.Series([1,2,3,4,4,"name","tom"])

In [3]:
print("Created series_one is : ")
print(series_one)

Created series_one is :
0       1
1       2
2       3
3       4
4       4
5    name
6     tom
dtype: object

In [4]:
# creating empty series
print("Created empty series is : ")
empty_series=pd.Series(dtype=int)
print(empty_series)

Created empty series is :
Series([], dtype: int32)

In [5]:
# creating series using numpy array
series_using_numpy=pd.Series(np.array([1,2,3,4,4,5,6]))
print("Our series_using_numpy is : ")
print(series_using_numpy)

Our series_using_numpy is :
0    1
1    2
2    3
3    4
4    4
5    5
6    6
dtype: int32

In [6]:
# some basic intuations
series_using_numpy=pd.Series(np.array([1,2,3,4,4,5,6]))
print("Type of element in series: ",type(series_using_numpy[0]))
# sys.getsizeof returns sizeof objects in bytes
print("Get size of 5 : ",sys.getsizeof(5))
print("Get size of element in series_using_numpy : ",sys.getsizeof(series_using_numpy[0]))
print("Use of size of attribute : ",series_using_numpy.size)
print("Size of whole array : ",sys.getsizeof(series_using_numpy))
# print(type(int))
#print("Get size of element in series_using_numpy : ",series_using_numpy[0].size)#1

Type of element in series:  <class 'numpy.int32'>
Get size of 5 :  28
Get size of element in series_using_numpy :  28
Use of size of attribute :  7
Size of whole array :  180

In [7]:
# giving customized indices
series_using_numpy=pd.Series(np.array([1,2,3,4,]),index=["a","b","c","d"])
print(series_using_numpy)

a    1
b    2
c    3
d    4
dtype: int32

In [8]:
# series_using_numpy=pd.Series(np.array([1,2,3,4]),index=["a","b","c","d","e","f"])
# print(series_using_numpy)
# above code gives error,as more indices than elements

In [9]:
# creating series using dictionary
example_dict={1:"a",2:"b",3:"c",4:"d",5:"e"}
print("Our original dictionary is : ",example_dict)
series_using_dict=pd.Series(example_dict)
print("The series we got for example_dict is : ")
print(series_using_dict)
# keys become indices, and dictionary values get assigned to them

Our original dictionary is :  {1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}
The series we got for example_dict is :
1    a
2    b
3    c
4    d
5    e
dtype: object

In [10]:
# observe the code , if indices are more in number, it applies NaN value to extra indices
series_using_dict=pd.Series({"a":0,"b":1,"c":2,"d":3},index=["b","c","d","a",'e'],dtype=int)
print("We have dictionary is : ",{"a":0,"b":1,"c":2,"d":3})
print("We have list for indices : ",["b","c","d","a","e"])
print("Using above data structures we got dictionary is : ")
print(series_using_dict)

We have dictionary is :  {'a': 0, 'b': 1, 'c': 2, 'd': 3}
We have list for indices :  ['b', 'c', 'd', 'a', 'e']
Using above data structures we got dictionary is :
b    1.0
c    2.0
d    3.0
a    0.0
e    NaN
dtype: float64

In [11]:
print("Our original series is : ")
print(series_using_dict)
# accessing series data, using numeric index
print("We got 0th index data : ",series_using_dict[0])
# accessing series data, using user given indices
print("We got \"b\" index data : ",series_using_dict["b"])

Our original series is :
b    1.0
c    2.0
d    3.0
a    0.0
e    NaN
dtype: float64
We got 0th index data :  1.0
We got "b" index data :  1.0

In [12]:
print("Our original series is : ")
print(series_using_dict)
# accessing series elements with slicing
print("Use of numerical indices for slicing : ")
print(series_using_dict[0:3])
print("Use of custom indices for slicing : ")
print(series_using_dict["b":"a"])
print("Observe the output : ")
print(series_using_dict["e":"b"])
# reason of blank series is left side index should be less than that of right side index

Our original series is :
b    1.0
c    2.0
d    3.0
a    0.0
e    NaN
dtype: float64
Use of numerical indices for slicing :
b    1.0
c    2.0
d    3.0
dtype: float64
Use of custom indices for slicing :
b    1.0
c    2.0
d    3.0
a    0.0
dtype: float64
Observe the output :
Series([], dtype: float64)

In [13]:
print("Our original series is : ")
print(series_using_dict)
# use of negative slicing to access last elements from series
print("Using numerical index -ve i.e [-3:] : ")
print(series_using_dict[-3:])
#print("Using custom index : ",series_using_dict[-"c"])#error

Our original series is :
b    1.0
c    2.0
d    3.0
a    0.0
e    NaN
dtype: float64
Using numerical index -ve i.e [-3:] :
d    3.0
a    0.0
e    NaN
dtype: float64

In [14]:
print("Our original series is : ")
print(series_using_dict)
# head gives startin 5 elements from series, we can provide number of elements also
print("Use of head : ")
print(series_using_dict.head())
print("Use of head with number of elements given(3) : ")
print(series_using_dict.head(3))

Our original series is :
b    1.0
c    2.0
d    3.0
a    0.0
e    NaN
dtype: float64
Use of head :
b    1.0
c    2.0
d    3.0
a    0.0
e    NaN
dtype: float64
Use of head with number of elements given(3) :
b    1.0
c    2.0
d    3.0
dtype: float64

In [15]:
print("Our original series is : ")
series_using_dict

Our original series is :

b    1.0
c    2.0
d    3.0
a    0.0
e    NaN
dtype: float64

In [16]:
print("Accessing series element : ",series_using_dict["b"])

Accessing series element :  1.0

In [17]:
print("Accessing series element : ",series_using_dict["e"])

Accessing series element :  nan

#### Pandas

In [18]:
# pd.DataFrame(data,index,columns,dtype)
# creating dataframe using pandas
# we can take numpy array as data
# we can pass series as data in dataframe
data_frame=pd.DataFrame([1,2,3,4,5])
print("Our created dataframe is : ")
print(data_frame)

Our created dataframe is :
   0
0  1
1  2
2  3
3  4
4  5

In [19]:
# use of list of list to create 2D array
data=[["Tom",23],["John",25],["Kate",24]]
col=["Name","Age"]
print("Using 2D array created data_dataframe : ")
data_dataframe=pd.DataFrame(data,columns=col)
print(data_dataframe)

Using 2D array created data_dataframe :
   Name  Age
0   Tom   23
1  John   25
2  Kate   24

In [20]:
# use of dictionary to create rows and columns
dict_one={"name":["Tom","John","Kate"],"age":[23,24,25]}
print("Our dictionary is : ")
print(dict_one)
dataframe_one=pd.DataFrame(dict_one)
print("Our dataframe created using above dictionary is : ")
print(data_dataframe)

Our dictionary is :
{'name': ['Tom', 'John', 'Kate'], 'age': [23, 24, 25]}
Our dataframe created using above dictionary is :
   Name  Age
0   Tom   23
1  John   25
2  Kate   24

In [21]:
# use of list of dictionaries to create dataframe 
list_of_dicts=[{"a":1,"b":2},{"a":2,"b":3,"c":4},{"a":21,"b":31,"c":41},{"a":52,"b":53,"c":74}]
print("Our original list of dictionaries is : ")
print(list_of_dicts)
new_df=pd.DataFrame(list_of_dicts)
print("Our dataframe created using above list of dictionaries is : ")
print(new_df)

Our original list of dictionaries is :
[{'a': 1, 'b': 2}, {'a': 2, 'b': 3, 'c': 4}, {'a': 21, 'b': 31, 'c': 41}, {'a': 52, 'b': 53, 'c': 74}]
Our dataframe created using above list of dictionaries is :
    a   b     c
0   1   2   NaN
1   2   3   4.0
2  21  31  41.0
3  52  53  74.0

In [22]:
# to get particular column value 
# new_df["a"]
print("Our original dataframe is : ")
print(new_df)
print("Getting particular column from the dataframe, here getting column \"a\" : ")
print(new_df["a"])

Our original dataframe is :
    a   b     c
0   1   2   NaN
1   2   3   4.0
2  21  31  41.0
3  52  53  74.0
Getting particular column from the dataframe, here getting column "a" :
0     1
1     2
2    21
3    52
Name: a, dtype: int64

In [23]:
#adding new column
print("Our original dataframe is : ")
print(new_df)
new_df["salary"]=[100000,200000,300000,400000]
print("After adding new column to the above dataframe : ")
print(new_df)

Our original dataframe is :
    a   b     c
0   1   2   NaN
1   2   3   4.0
2  21  31  41.0
3  52  53  74.0
After adding new column to the above dataframe :
    a   b     c  salary
0   1   2   NaN  100000
1   2   3   4.0  200000
2  21  31  41.0  300000
3  52  53  74.0  400000

In [24]:
print("Our original dataframe is : ")
print(new_df)
del new_df["salary"]
print("After deleting salary column from above dataframe is : ")
print(new_df)

Our original dataframe is :
    a   b     c  salary
0   1   2   NaN  100000
1   2   3   4.0  200000
2  21  31  41.0  300000
3  52  53  74.0  400000
After deleting salary column from above dataframe is :
    a   b     c
0   1   2   NaN
1   2   3   4.0
2  21  31  41.0
3  52  53  74.0

In [25]:
print("Our original dataframe is : ")
print(new_df)
#printing  particular row values
print("Getting 0th row values : ")
print(new_df.loc[0])

Our original dataframe is :
    a   b     c
0   1   2   NaN
1   2   3   4.0
2  21  31  41.0
3  52  53  74.0
Getting 0th row values :
a    1.0
b    2.0
c    NaN
Name: 0, dtype: float64

In [26]:
print("Our original dataframe is : ")
print(new_df)
#printing  particular row values, using slicing
print("Getting particular rows new_df.loc[1:2] : ")
print(new_df.loc[1:2])

Our original dataframe is :
    a   b     c
0   1   2   NaN
1   2   3   4.0
2  21  31  41.0
3  52  53  74.0
Getting particular rows new_df.loc[1:2] :
    a   b     c
1   2   3   4.0
2  21  31  41.0

In [27]:
print("Our original dataframe is : ")
print(new_df)
print()
# getting rows from 1 onwards
print("After doing new_df[1:] : ")
new_df[1:]

Our original dataframe is :
    a   b     c
0   1   2   NaN
1   2   3   4.0
2  21  31  41.0
3  52  53  74.0

After doing new_df[1:] :

    a   b     c
1   2   3   4.0
2  21  31  41.0
3  52  53  74.0

In [28]:
print("Our original dataframe is : ")
print(new_df)
print()
df_one=pd.DataFrame([["Son",28,500000]],columns = ['name','age',"salary"])
print("Our newly created dataframe is : ")
print(df_one)
new_df_one=new_df.append(df_one)
print()
#proper index
print("After append we got new dataframe : ")
print(new_df_one)
#print(df_one)

Our original dataframe is :
    a   b     c
0   1   2   NaN
1   2   3   4.0
2  21  31  41.0
3  52  53  74.0

Our newly created dataframe is :
  name  age  salary
0  Son   28  500000

After append we got new dataframe :
      a     b     c name   age    salary
0   1.0   2.0   NaN  NaN   NaN       NaN
1   2.0   3.0   4.0  NaN   NaN       NaN
2  21.0  31.0  41.0  NaN   NaN       NaN
3  52.0  53.0  74.0  NaN   NaN       NaN
0   NaN   NaN   NaN  Son  28.0  500000.0

In [29]:
print("Our original dataframe is : ")
print(new_df_one)
print()
new_df_one=new_df_one.drop(2)
print("After deletion of row 2, we got : ")
print(new_df_one)

Our original dataframe is :
      a     b     c name   age    salary
0   1.0   2.0   NaN  NaN   NaN       NaN
1   2.0   3.0   4.0  NaN   NaN       NaN
2  21.0  31.0  41.0  NaN   NaN       NaN
3  52.0  53.0  74.0  NaN   NaN       NaN
0   NaN   NaN   NaN  Son  28.0  500000.0

After deletion of row 2, we got :
      a     b     c name   age    salary
0   1.0   2.0   NaN  NaN   NaN       NaN
1   2.0   3.0   4.0  NaN   NaN       NaN
3  52.0  53.0  74.0  NaN   NaN       NaN
0   NaN   NaN   NaN  Son  28.0  500000.0

In [30]:
new_df_one

      a     b     c name   age    salary
0   1.0   2.0   NaN  NaN   NaN       NaN
1   2.0   3.0   4.0  NaN   NaN       NaN
3  52.0  53.0  74.0  NaN   NaN       NaN
0   NaN   NaN   NaN  Son  28.0  500000.0

In [31]:
# list of lists
data=[["Tom",23],["John",25],["Kate",24]]
col=["name","age"]
print("Data for our dataframe is list : ",)
print("Using 2D array created data_dataframe : ",data)
print("Columns of our dataframe are : ",col)
print()
print("Using above data structures we got new dataframe : ")
df=pd.DataFrame(data,columns=col)
print(df)

Data for our dataframe is list :
Using 2D array created data_dataframe :  [['Tom', 23], ['John', 25], ['Kate', 24]]
Columns of our dataframe are :  ['name', 'age']

Using above data structures we got new dataframe :
   name  age
0   Tom   23
1  John   25
2  Kate   24

In [32]:
# axes attribute access a group of rows and columns by label(s)
print("Our original dataframe is : ")
print(df)
print()
print("Using df.axes attribute on above dataframe : ")
df.axes

Our original dataframe is :
   name  age
0   Tom   23
1  John   25
2  Kate   24

Using df.axes attribute on above dataframe :

[RangeIndex(start=0, stop=3, step=1), Index(['name', 'age'], dtype='object')]

In [33]:
# DataFrame stores the number of rows and columns as a tuple (number of rows, number of columns),
# it is also possible to unpack and store them in separate variables
print("Our original dataframe is : ")
print(df)
print()
print("Using df.shape attribute on above dataframe : ")
df.shape

Our original dataframe is :
   name  age
0   Tom   23
1  John   25
2  Kate   24

Using df.shape attribute on above dataframe :

(3, 2)

In [34]:
# head() method is used to return top n (5 by default) rows of a data frame or series
print("Our original dataframe is : ")
print(df)
print()
print("Using df.head() method : ")
df.head(2)

Our original dataframe is :
   name  age
0   Tom   23
1  John   25
2  Kate   24

Using df.head() method :

   name  age
0   Tom   23
1  John   25

In [35]:
# return the last n rows
print("Our original dataframe is : ")
print(df)
print()
print("Using df.tail() method : ")
df.tail(2)

Our original dataframe is :
   name  age
0   Tom   23
1  John   25
2  Kate   24

Using df.tail() method :

   name  age
1  John   25
2  Kate   24

In [36]:
# info() function is used to get a concise summary of the dataframe
print("Our original dataframe is : ")
print(df)
print()
print("Use of df.info() on above dataframe : ")
print()
df.info()

Our original dataframe is :
   name  age
0   Tom   23
1  John   25
2  Kate   24

Use of df.info() on above dataframe :

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

In [37]:
# describe() is used to view some basic statistical details like percentile, mean, std etc.
# of a data frame or a series of numeric values
print("Our original dataframe is : ")
print(df)
print()
print("Use of df.describe() on above dataframe : ")
print(df.describe())

Our original dataframe is :
   name  age
0   Tom   23
1  John   25
2  Kate   24

Use of df.describe() on above dataframe :
        age
count   3.0
mean   24.0
std     1.0
min    23.0
25%    23.5
50%    24.0
75%    24.5
max    25.0

In [38]:
# values attribute return a Numpy representation of the given DataFrame
print("Our original dataframe is : ")
print(df)
print()
df["age"].values

Our original dataframe is :
   name  age
0   Tom   23
1  John   25
2  Kate   24

array([23, 25, 24], dtype=int64)

In [39]:
# transpose of dataframe
df.T

        0     1     2
name  Tom  John  Kate
age    23    25    24

In [40]:
df.sum()

name    TomJohnKate
age              72
dtype: object

Pandas DataFrame. sum() function is used to return the sum of the values for the requested axis by the user. If the input value is an index axis, then it will add all the values in a column and works same for all the columns. It returns a series that contains the sum of all the values in each column.

In [41]:
df.sum(0)

name    TomJohnKate
age              72
dtype: object

In [42]:
df.sum(1)

0    23
1    25
2    24
dtype: int64

In [43]:
df.mean()

age    24.0
dtype: float64

The mean() function is used to return the mean of the values for the requested axis. If we apply this method on a Series object, then it returns a scalar value, which is the mean value of all the observations in the dataframe.

In [44]:
# std() function return sample standard deviation over requested axis
df.std()

age    1.0
dtype: float64

In [45]:
# applying mean on particular column
df["age"].mean()

24.0

In [46]:
df["age"]=df["age"]+10
df
#use lamda function for this

   name  age
0   Tom   33
1  John   35
2  Kate   34

In [47]:
# getting number of datapoints in particular axis
len(df["name"])

3

In [48]:
print("Our original dataframe is : ")
print(df)
# adding new column in our original dataframe
df["len of name"]=df["name"].map(lambda x:len(x))
print("Our modified dataframe is : ")
print(df)

Our original dataframe is :
   name  age
0   Tom   33
1  John   35
2  Kate   34
Our modified dataframe is :
   name  age  len of name
0   Tom   33            3
1  John   35            4
2  Kate   34            4

In [49]:
df

   name  age  len of name
0   Tom   33            3
1  John   35            4
2  Kate   34            4